################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BackendProvaConceitoTimeIAGRO/FileContentIndex/5aacaf8b-77c1-4b44-be4f-2b650e47a2e3.vsidx
